<link href='//fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,900,700italic,900italic' rel='stylesheet'>
<table width="100%" bgcolor="#f2f2f2" cellpadding="0" cellspacing="0" border="0" style="width:100%!important;line-height:100%!important;border-collapse:collapse;margin:0;padding:0">
        <tbody>
        <tr>
            <td style="border-collapse:collapse">
                <table bgcolor="#ffffff" width="630" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                    <tbody>
                    <tr>
                        <td>
                            <table width="530" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                                <tbody style="border-collapse:collapse">

                                    <tr>
                                        <td width="100%" height="2" style="border-collapse:collapse"></td>
                                    </tr>


                                    <tr>
                                        <td style="font-family:'Lato';font-size:20px;color:#434343;text-align:left;line-height:20px;border-collapse:collapse">
                                            <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
    <tbody>
        <tr>
            <td style="border-collapse:collapse;" height="120" align="center">
                <img src="http://52.10.177.231/images/welcome-logo.png" width="147" height="34" border="0"/>
            </td>
        </tr>
    <tr>
        <td width="100%" height="20" style="border-collapse:collapse"></td>
    </tr>
    <tr>
        <td style="font-size:20px;color: #434343;border-collapse:collapse" align="center">
            You have requested to reset your password
        </td>
    </tr>


    <tr>
        <td width="100%" height="20" style="border-collapse:collapse"></td>
    </tr>


    <tr>
        <td style="font-size: 13px; color: #434343; border-collapse:collapse" align="center">
            {{ date }}
        </td>
    </tr>

    <tr>
        <td width="100%" height="40" style="border-collapse:collapse"></td>
    </tr>

    <tr>
        <td width="100%" style="font-size: 20px; color: #434343;font-weight:bold;border-collapse:collapse" align="center">
            To reset your password, click the following link
        </td>
    </tr>


    <tr>
        <td width="100%" height="20" style="font-size: 20px; color: #434343;font-weight:bold;border-collapse:collapse" align="center">
            and follow the instructions.
        </td>
    </tr>
    <tr>
        <td width="100%" height="40" style="border-collapse:collapse"></td>
    </tr>

    <tr>
        <td style="border-collapse:collapse">
            <table height="40" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                <tbody>
                <tr>
                    <td width="auto" align="center" valign="middle" height="40" style="border-top-left-radius:2px;border-bottom-left-radius:2px;border-top-right-radius:2px;border-bottom-right-radius:2px;font-size:14px;font-family:Helvetica,arial,sans-serif;text-align:center;color:#ffffff;font-weight:300;padding-left:85px;padding-right:85px;border-collapse:collapse;background:#fc548b" bgcolor="#5bbc2e">
                <span style="color:#ffffff;">
                    <a href="http://52.10.177.231/#/password/resetPassword/{{ uuid }}" style="font-family:'Lato'; font-size:17px;color:#ffffff;text-align:center;text-decoration:none" target="_blank">RESET PASSWORD</a>
                </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td width="100%" height="15" style="border-collapse:collapse"></td>
    </tr>
    <tr>
        <td width="100%" style="border-collapse:collapse; font-size:20px; color: #434343;" align="center">
            Happy Knacking<br>- Team Uknack&nbsp;&nbsp;
        </td>
    </tr>
    <tr>
        <td width="100%" height="40" style="border-collapse:collapse"></td>
    </tr>
    <tr>
        <td width="100%" style="border-collapse:collapse"><hr style="width:340px; border-left:none;border-top:1px solid #d9e6e8;"></td>
    </tr>
    <tr>
        <td width="100%" height="10" style="border-collapse:collapse"></td>
    </tr>
    <tr>
        <td width="100%" style="border-collapse:collapse; color: #769aa3;font-weight:bold;" align="center">SAY HELLO</td>
    </tr>
    <tr>
        <td width="100%" height="20" style="border-collapse:collapse"></td>
    </tr>
    <tr>
        <td width="22" height="22" style="border-collapse:collapse" align="center">
            <table align="center" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                <tr>
                    <td width="40">
                        <a href="https://www.facebook.com/" style="background-image:url('http://52.10.177.231/images/sprites/sprites-input-social.png'); display:block;width:22px; height:22px;background-position: 0px 22px;"></a>
                    </td>
                    <td width="40">
                        <a href="https://twitter.com/" style="background-image:url('http://52.10.177.231/images/sprites/sprites-input-social.png'); display:block;width:22px; height:22px; background-position: 0px 44px;"></a>
                    </td>
                    <td>
                        <a href="https://www.instagram.com/" style="background-image:url('http://52.10.177.231/images/sprites/sprites-input-social.png'); display:block;width:22px; height:22px; background-position: 22px 0px;"></a>
                    </td>
                </tr>
            </table>
    </tr>

    </tbody>
</table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td width="100%" height="40" style="border-collapse:collapse"></td>
                                    </tr>
                                                                                                        </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>